#! <%= @ruby_path %>

require 'webrick'

wwwroot = '<%= @wwwroot %>'

server = WEBrick::HTTPServer.new :Port => 80

server.mount_proc '/.well-known/acme-challenge/' do |req, res|
  challenge = wwwroot + req.path

  if File.readable?(challenge)
    res.body = File.read(challenge)
  else
    res.body = "Nope!\n"
    res.status = 404
  end
end

server.mount_proc '/' do |req, res|
  uri = req.request_uri.dup
  uri.scheme = 'https'

  res.set_redirect WEBrick::HTTPStatus::TemporaryRedirect, uri.to_s
end

trap 'INT' do server.shutdown end

server.start
